@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
